<form action="#" th:action="@{/addproduct}" th:object="${productDto}" method="post" xmlns:th="http://www.w3.org/1999/xhtml">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    <label for="description">Description</label>
    <input type="text" th:field="*{description}" id="description" placeholder="Description">
    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
    <input type="submit" value="Add Product">
</form>